### Unity ###
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
UserSettings/

# Unity Cache
/[Aa]ssets/AssetStoreTools*
/Assets/Plugins/Editor/JetBrains*

# Unity Generated
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Visual Studio (FALTAVA!)
.vs/

# Rider
.idea/
*.sln.iml

# VSCode
.vscode/
.vscode/settings.json
.vscode/tasks.json
.vscode/launch.json
.vscode/extensions.json

# Unity Package Cache
/[Pp]ackages/com.unity.collab-proxy*/

# Crash reports
*.stackdump

# OS Specific
.DS_Store
Thumbs.db

# Plastic SCM
.plastic/
Ignore.conf
*.plastic

# Unity Cloud Build
/[Cc]ache/
unitycloud.log

# Builds
/[Bb]uilds/
*.apk
*.aab
*.ipa
*.app
*.exe

# Addressables
/[Aa]ssets/AddressableAssetsData/*/*.bin*

# URP / HDRP Artifacts
/[Aa]ssets/GraphicsSettings/*.asset.meta

# Prevent exporting local folders
/ExportedObj/
sysinfo.txt
